
/* ---------------------------------------- */
/* 01 Reset */
/* ---------------------------------------- */

  *, *:before, *:after {
    box-sizing: border-box;
    }

  *:focus {
    outline: none; /* Removes yellowing of forms */
    }

/* ------------------------------- */
/*            @font-face           */
/* ------------------------------- */

  ::selection {
    background-color: rgb(33,33,33);
    color: #e04a4a;
    text-shadow: none;
    }

  ::-webkit-scrollbar {
    display: none;
    }

  html, body {
    background-color: #fafafa;
    font-family: sans-serif;
    line-height: 1.15;
    }

  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    /* font-family: 'Moderat Regular',sans-serif; */
    font-size: 18px;
    /* font-size: 1.375rem; */
    color: rgba(65,69,73,1);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    }

/* ------------------------------- */
/*          General Styles         */
/* ------------------------------- */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-family: 'Moderat',sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-stretch: normal;
    font-style: normal;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
    margin: 0;
    }
    h1 {
      font-size: 2.2em;
      line-height: 1.4em;
      }
    h2 {
      font-size: 1.77em;
      line-height: 1.1875em;
      }
    h3 {
      font-size: 1.5em;
      line-height: 1.43em;
      }
    h4 {
      font-size: 0.77em;
      line-height: 1.66em;
      }
      h1 > a,
      h2 > a,
      h3 > a,
      h4 > a {
        text-decoration: none;
        }
        h1 > a:hover,
        h2 > a:hover,
        h3 > a:hover,
        h4 > a:hover {
          text-decoration: none;
          }

  p {
    font-size: inherit;
    line-height: 1.684;
    margin: 0;
    padding: 20px 0 0;
    text-rendering: auto;
    }

  a,
  a.link {
    color: rgba(65,69,73,1);
    border-bottom: 1px solid;
    padding-bottom: 2px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }
    a img {
      opacity: 1;
      }
    a:hover,
    a.link:hover {
        color: rgba(65,69,73,.6);
        }
        a.link--underlined:hover {
          color: rgba(65,69,73,.6);
          border-bottom: 1px solid;
          padding-bottom: 2px;
          }
      a.logo {
        color: rgba(65,69,73,.6);
        }

  small {
    font-size: .7em;
    line-height: 1.1em;
    }

  .dark a,
  .dark a.link {
    color: rgba(255,255,255,.6);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }
    .dark a:hover,
    .dark a.link:hover,
    .dark a.link--underlined:hover {
      color: rgba(255,255,255,1);
      }

  blockquote {
    font-size: 1.055em;
    line-height: 1.66em;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    margin: 20px 0 0;
    padding: 0;
    color: inherit;
    border: none;
    vertical-align: baseline;
    }

  b, strong{
    font-weight: 600;
    }

  br {
    content: " ";
    display: block;
    margin: 0;
    }

  ul {
    font-size: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    }

  li {
    list-style: none;
    margin: 0;
    display: block;
    }

  .flat {
    padding-bottom: 0px !important;
    }

  .clear {
    clear: both;
    }

  .hidden {
    display: none;
    }

  /* ------------------------------- */
  /*          Block Elements         */
  /* ------------------------------- */

  section {
    display: block;
    position: relative;
    clear: both;
    }

  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    }

  figure {
    margin: 0;
    }

  .row {
    max-width: 88%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
    header .column,
    header .columns {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      }

  .column,
  .columns {
    position: relative;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    }

  .lead {
    max-width: 720px;
    width: 88%;
    }

  .block {
    width: 100%;
    }
    .block__content {
      max-width: 40em;
      margin: 0 auto;
      float: none !important;
      }

  .align {
    position: relative;
    }
  .align__vertical {
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    }

  .align__horizontal {
    left: 50% !important;
    transform: perspective(1px) translateX(-50%);
    }

  .center {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    }

  img {
    width: 100%;
    height: auto;
    position: relative;
    }

  img.bw {
    filter: grayscale(100%);
    }

  .flexGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

  .flexGrid .gridItem {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }

/* ------------------------------- */
/*           Typography            */
/* ------------------------------- */

  .netlife {
    color: #29CB7E;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    }
    .netlife:hover {
      color: #29CB7E;
      border-bottom: 2px solid #29CB7E;
      }

    .light {
      color: rgba(65,69,73,.6);
      }
      .light__link {
        color: rgba(65,69,73,1);
        }
        .light__link:hover {
          color: rgba(65,69,73,1);
          }

    .dark {
      color: rgba(255,255,255,1);
      background-color: rgba(21,21,21,1);
      }
      .dark--transparent {
        background-color: transparent;
        }
      .dark__link {
        color: rgba(255,255,255,1);
        text-decoration: underline;
        }
        .dark__link:hover {
          color: rgba(255,255,255,.5);
          }
      .dark .light {
        color: rgba(255,255,255,.5);
        }

    .dark h1,
    .dark h2,
    .dark h3,
    .dark h4,
    .dark blockquote,
    .dark figcaption,
    .dark p {
      color: #ffffff;
      }

    .showMenu h2,
    .showMenu h3 {
      text-align: right;
      margin-left: 15px;
      padding-bottom: 10px;
      margin-top: 25px;
      }

/* ------------------------------- */
/*         Margin & Padding        */
/* ------------------------------- */

  .padding {
    padding-top: 6em;
    padding-bottom: 6em;
    }

  .small-padding {
    padding-top: 3em;
    padding-bottom: 3em;
    }

  .quote {
    padding-top: 6em;
    padding-bottom: 6em;
    }

  .bump {
    margin-bottom: 20px;
    }

/* ----------------------------------- */
/*            Global Header            */
/* ----------------------------------- */

header {
  /* height: 80px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0;

  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }
  .header__content {
    position: relative;
    }
    .header__content p {
      margin-top: 30px;
      }

    header.show {
      opacity: 1;
      z-index: 999;
      }
    header.nav--up,
    .menu__overview.nav--up {
      /* top: -80px; */
      }
    header.nav--down.bg,
    .menu__overview.nav--down.bg {
      background-color: #ffffff;
      }

    p.open-menu,
    p.logo {
      border-bottom: 1px solid transparent;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      cursor: pointer;
      }
    p.logo,
    p.open-menu:hover {
      border-bottom: 1px solid;
      }
      body.menu-open p.logo {
        border-bottom: 1px solid transparent;
        }
      body.menu-open p.open-menu,
      body.menu-open p.logo {
        color: rgba(255,255,255,1) !important;
        }
        body.menu-open p.open-menu,
        body.menu-open p.logo:hover{
          border-bottom: 1px solid white;
          }

/* ------------------------------- */
/*         Primary Section         */
/* ------------------------------- */

  .home {
    width: 100%;
    }
    .home .intro {
      position: absolute;
      padding: 2vh 0;
      z-index: 2;
      }
    .first {
      height: 75vh;
      display: flex;
      }
      .first .inner {
        align-self: center;
        }

  .mellomting {
    height: auto;
    max-height: 90vh;
    min-height: 25vh;
    width: 100vh;
    position: relative;
    overflow: hidden;
    }
    .mellomting .inner {
      }
      .mellomting .inner .item {
        width: 100%;
        top: 0;
        height: 100vh;
        overflow: hidden;

        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        }

    .nav .nav--big {
      display: inline-block;
      }
    .nav .nav--small {
      display: none;
      }

  /* Project list */
  .projectList {
    z-index: 3;
    bottom: 5vh;
    position: absolute;
    margin-left: -20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }
    .projectList__link {
      display: block;
      float: left;
      clear: left;
      }
      .projectList__link--last {
        margin-top: 40px;
        display: block;
        float: left;
        clear: left;
        }
        .projectList__link--last h2 {
          font-size: 20px;
          }
        .projectList__link--last h2:hover a {
          color: rgba(255,255,255,.5);
          }
      .projectList__link h1,
      .projectList__link h2,
      .projectList__link h3 {
        color: rgba(255,255,255,1);
        border-bottom: 3px solid transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        }
        .projectList__link h1:hover a,
        .projectList__link h2:hover a,
        .projectList__link h3:hover a {
          color: rgba(255,255,255,1) !important;
          }
          .projectList__link.active h2 {
            border-bottom: 3px solid #fff;
            }

/* ----------------------------------- */
/*          Frontpage Blocks           */
/* ----------------------------------- */

  main,
  main.home {
    overflow: hidden;
    opacity: 1;
    width: 100%;
    /*background-color: #fbfbfb;*/
    background-color: #f9f9f9;

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

  .grid {
    z-index: 9;
    }
  .grid > div {
    padding-top: 8vw;
    padding-bottom: 8vw;
    }
    .grid > div:first-of-type {
      padding-top: 0vw;

      }
      .grid__about > div:first-of-type {
        margin-top: 0vw;
        }

    .grid .box img {
      /*transform: translate3d(0px,50px,0px);*/
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 999;
      }
      .grid .box:hover img {
        /*transform: translate3d(0px,10px,0px);*/
        }
    .grid .tag,
    .tag {
      transform: translate3d(0px,-40px,0px);
      opacity: 0;
      padding-left: 15px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      }
      .grid .box:hover .tag {
        transform: translate3d(0px,-15px,0px);
        opacity: 1;
        }

    .grid__intro {
      max-width: 1000px;
      padding-left: 7vw;
      padding-right: 7vw;
      }
      .grid__intro > div {
        float: none;
        }

  .about > div {
    padding-top: 160px;
    }
    .about > div:last-child {
      padding-top: 160px;
      padding-bottom: 160px;
      }
      .about__intro {
        max-width: 1000px;
        padding-left: 7vw;
        padding-right: 7vw;
        }
        .about__intro > div {
          float: none;
          }
    .about ul li {
      }
      .about ul li p {
        padding: 0;
        }
        .about ul li:first-child p:after {
          content: '';
          }
        .about ul li p:after {
          content: ',\00a0 ';
          }
    .project > div {
      padding-top: 0px;
      }
      .imageBlocks > div:first-of-type {
        padding-top: 0px;
        }
      .project > div:last-child {
        padding-bottom: 160px;
        }
        .project__intro {
          height: 90vh;
          background-color: transparent;
          padding-left: 7vw;
          padding-right: 7vw;
          padding-top: 160px;
          padding-bottom: 160px;
          }
          .project__intro--content  {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            }
          .project__intro > div {
            float: none;
            }
          figure {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -ms-flexbox;
            display: box;
            display: flex;
            -webkit-box-align: center;
            -moz-box-align: center;
            -o-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            margin-bottom: 2.5rem;
            background-color: rgba(0,0,0,.025);
            position: relative;
            }
            figure img, figure video {
              max-width: 78%;
              margin: 5rem auto;
              }
        .imageBlocks {
          padding-top: 10vw;
          }
        .project-category,
        .project-link {
          font-size: 0.95rem;
          font-weight: 600;
          }
          .project-category:after {
            content: "\00ac";
            padding: 0 10px;
            color: red;
            }
            .project-category:last-child:after {
              display: none;
              }
  article {
    display: block;
    position: relative;
    height: auto;
    padding-bottom: 40px;
    }

  .work article {
    padding-bottom: 100px;
    }

  .work article:first-child {
    margin-top: 100px;
    }

  article h1,
  article h2 {
    padding-bottom: 15px;
    }

  .about .about-content {
    padding-top: 100px;
    padding-bottom: 100px;
    }

  body.about .article-content {
    padding-top: 200px;
    padding-bottom: 0px;
    }

  p.share {
    margin-top: 25px;
    }

  p.share:hover a {
    color: rgba(65,69,73,1);
    }

  p.share span {
    color: rgba(65,69,73,1);
    margin-left: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

  p.share span a {
    margin-left: 15px;
    }

  p.share:hover span {
    color: rgba(65,69,73,1);
    margin-left: 10px;
    opacity: 1;
    }

  /* ----------------------------------- */
  /*            Image Handling           */
  /* ----------------------------------- */

  .box img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: all 0.2 ease-in-out;
    transition: all 0.2 ease-in-out;
    }

  .entry-title {
    padding: 30px 40px;
    position: absolute;
    text-decoration: underline;
    bottom: 0;
    left: 0;
    opacity: 0;
    }

  main.project .box {
    padding-bottom: 40px;
    }

  section.related {
    background-color: rgba(0,0,0,.025);
    }
    section.related .box {
      padding-bottom: 0px;
      }

  span.arrow {
    padding-right: 10px;
    font-size: 13px;
    font-weight: 600;
    }

  .slider-dots {
    counter-reset: dots;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 9;
    }

  .owl-dot {
    display: inline-block;
    padding-right: 10px;
    font-size: 12px;
    color: #7c7c7c;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

  .owl-dot:before {
    counter-incement: dots;
    content: counter(dots);
    }

  .owl-dot.active::before {
    font-weight: bold;
    }

  .owl-item.animated {
    visibility: visible;
    }

  .animated {
    visibility: hidden;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    }

  .owl-item.animated {
    visibility: visible;
    }

/* ----------------------------------- */
/*              Slide menu             */
/* ----------------------------------- */

  .menu__overview {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    opacity: 0;
    -webkit-transform: translate(0vw, 0);
    transform: translate(0vw, 0);

    -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1);
    transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1);

    -webkit-transition: all .5s cubic-bezier(0.6, 0.2, 0.1, 1);
    transition: all .5s cubic-bezier(0.6, 0.2, 0.1, 1);
    }
    .menu__overview p {
      padding: 10px 0 0;
      }
      .nav__arrow {
        font-size: 1.4em;
        cursor: pointer;
        }
    .menu__button {
      padding: 20px 0 0;
      margin-bottom: 40px;
      cursor: pointer;
      }
      .menu__button a {
        border-bottom: none;
        text-transform: none;
        }
    .menu__overview .project-list p:first-child,
    .menu__overview .project-list {
      padding: 0;
      }

  body.menu-open .menu__overview {
    opacity: 1;
    z-index: 3;
    -webkit-transform: translate(0vw, 0);
    transform: translate(0vw, 0);
    }


/* ----------------------------------- */
/*             Archive Menu            */
/* ----------------------------------- */

  .menu__overview .intro {
    margin-top: 9.05em;
    }

  /* ----------------------------------- */
  /*       Slideout Image Handling       */
  /* ----------------------------------- */

  .menu__overview article:first-child {
    margin-top: 0px;
    }

  .menu__overview figure {
    margin-bottom: 1em;
    border-radius: 1px;
    font-size: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

  .menu__overview figure:hover {
    transform: translate3d(0,-10px,0);
    }

  .menu__overview figure figcaption {
    opacity: 1;
    color: rgba(65,69,73,1);
    }

/* ----------------------------------- */
/*              About menu             */
/* ----------------------------------- */

  .menu__about {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: #ffffff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    opacity: 1;
    -webkit-transform: translate(0, -200%);
    transform: translate(0, -200%);
    -webkit-transition: -webkit-transform .5s .5s cubic-bezier(0.6, 0.2, 0.1, 1);
    transition: transform .5s .5s cubic-bezier(0.6, 0.2, 0.1, 1);
    }

  body.about-open .menu__about {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
    }

/* ----------------------------------- */
/*            Project Page             */
/* ----------------------------------- */

  body.about header,
  body.projects header {
    background-color: transparent;
    }

  .content__image {
    padding-bottom: 10vw;
    margin-bottom: 0em;
    }

  .content__text {
    padding-bottom: 10vw;
    margin-bottom: 1.875em;
    }

/* ----------------------------------- */
/*        Related project block       */
/* ----------------------------------- */

  .related figure {
    border-radius: 1px;
    font-size: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

  .related figure:hover {
    transform: translate3d(0,-10px,0);
    }

  .related figure figcaption {
    opacity: 1;
    color: rgba(65,69,73,1);
    }

  body.menu-open {
    height: 100%;
    margin: 0;
    overflow: hidden;
    }

  header div.logo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }
    body.menu-open main,
    body.menu-open header div.logo {
      opacity: .1 !important;
      }

  ul.inline {
    display: inline-block;
    }

  ul.inline li {
    padding-right: 5px;
    float: left;
    }

  ul.inline li p:after {
    content: ',';
    }

  ul.inline li:last-child p:after {
    content: '';
    }

  .see-all {
    background-color: #fafafa;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    }

  .view-case {
    position: absolute;
    bottom: 40px;
    left: 0px;
    }

  /* ------------------------------- */
  /* 		   Bigger than  1681 px 	   */
  /* ------------------------------- */

  @media only screen and (min-width: 1680px) {

    header.bg {
      background-color: #ffffff;
      }

    header.nav--up {
      top: -100px;
      }

    .nav-back a.back {
      padding: 40px 0px;
      }

    .nav-back a.back p {
      top: 40px;
      }

    .nav-back:hover a.back p {
      left: 65px;
      }

    .home .showMenu svg, .showMenu svg {
      top: 40px;
      right: 40px;
      }

    p.close-btn {
      font-size: initial;
      top: 40px;
      }

    body.menu-open p.close-btn {
      right: 75px;
      }

    .dot, .intro .dot {
      background-size: 20px;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      margin-bottom: 20px;
      margin-left: 2px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      }

    }

  /* ----------------------------------------- */
  /*   			      Tablet Portrait:		         */
  /* ----------------------------------------- */

  @media only screen and (max-width: 1366px) {

    .row {
      max-width: calc(100% - 6vw);
      }

    .column,
    .columns {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      }

    .grid .column,
    .grid .columns {
      position: relative;
      }

    article {
      padding-bottom: 40px;
      }


    .gallery3:hover {
      cursor: auto;
      }

    .nav .nav--big {
      display: none;
      }
    .nav .nav--small {
      display: inline-block;
      }

    }

  /* -------------------------------------------------------- */
  /* 				iPhone 4s, 4 & 3gs  Landscape				*/
  /* -------------------------------------------------------- */

  @media only screen and (max-width: 414px) {

    html,
    body {
      font-size: 16px;
      }

    h2 {
      font-size: 1.5em;
      line-height: 2em;
      }

    p {
      margin: 0;
      padding: 10px 0 0;
      }

    a.link--underlined,
    a.link--underlined:hover {
      color: rgba(65,69,73,1);
      border-bottom: 1px solid;
      padding-bottom: 2px;
      }
      .dark a.link--underlined,
      .dark a.link--underlined:hover {
        color: rgba(255,255,255,.5);
        border-bottom: 1px solid;
        padding-bottom: 2px;
        }

    .row {
      max-width: 100%;
      }

    .column, .columns {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      }

    article h1,
    article h2 {
      padding-bottom: 10px;
      }

    header {
      height: 65px;
      }
      ¸ {
        background-color: rgba(255,255,255,0.3);
        }

    article {
      padding-bottom: 20px;
      }

    header .intro {
      padding-top: 0px;
      }

    main, main.home {
      padding-top: 65px;
      }

    .grid .column,
    .grid .columns {
      position: relative;
      padding-left: 1.25em;
      padding-right: 1.25em;
      }
      .grid > div {
        padding-bottom: 20px;
        }
      .grid .tag {
        padding-left: 0px;
        }
      .grid .box:hover img {
        transform: translate3d(0,0,0);
        }

    .about > div:last-child {
      padding-top: 2em;
      padding-bottom: 2em;
      }

    .padding {
      padding-top: 2em;
      padding-bottom: 2em;
      }

    .bump {
      margin-bottom: 10px;
      }

      .menu__overview {
        width: 75vw;
        }
        body.menu-open .menu__overview {
          -webkit-transform: translate(25vw, 0);
          transform: translate(25vw, 0);
          }

    }
