{% extends "_layout" %} {% block content %}

<main class="home">

	<section class="intro fade-up" style="background-color: #ffffff;">

		<div class="row article-intro">
			<div class="large-10 medium-10 small-12 columns center">

				<h2 class="bold flat">
					<a class="headline" href="/">Erling Aarønæs.</a>
				</h2>

				<h2>Designer at <a href="http://www.netliferesearch.com" target="_blank"> Netlife.</a></h2>
				<!-- <h1><span class="bold">Found</span>{{entry.intro}}</h1> -->
				<h1 class="yo">{{entry.introBody}}</h1>
				<a href="#work"><h2 class="flat">Work.</h2></a>
				<a><h2 class="flat open-menu">More work.</h2></a>
				<a><h2 class="flat open-about">Bio.</h2></a>
			</div>
		</div>

	</section>

	<!-- <section  id="start" class="in-progress" style="background-color: #ffffff;">

		<div class="padding">

			<div class="row">
				<div class="columns padding">
					<p class="small caps bump">In progress</p>
				</div>
			</div>

			<div class="row">
			{% for entry in craft.entries.section('projects') %}
				{% if entry.comingSoon %}
					<article class="large-12 medium-12 columns left">
						{% set menuThumb = entry.menuThumb.first() %}
						{% if menuThumb %}
						    <img class="bump" src="{{ menuThumb.url }}" />
						{% endif %}

				    	<h2 class="large-12 medium-12 small-12 flat">{{entry.intro}}</h2>
						<p class="light">{{entry.intro}}</p>
						<a class="small visit caps pink">Coming soon</a>
					</article>

				    {% endif %}

				{% endfor %}
			</div>

		</div>
	</section> -->

	<section id="work">

		{% for entry in craft.entries.section('projects') %} {% if entry.showcase == '1' %} {% if entry.left10col == '1' %}

		<!-- Ten Col Left -->
		<div style="background-color: #{{ entry.hexCode }};">
			<article class="row">

				<div class="columns padding">

					<!-- Image -->
					<div class="large-10 medium-10 small-12 left">
						<div class="box">
							{% set menuThumb = entry.menuThumb.first() %} {% if menuThumb %}
							<img src="{{ menuThumb.url }}" /> {% endif %}
						</div>
					</div>

					<div class="large-6 medium-6 small-12 left reveal">
						<a class="transition left" href="{{entry.url}}">
							<h2 class="entry-title bold left">{{entry.Title}}</h2>
						</a>
						<!-- <h2 class="left entry-intro hide-for-small-only">{{entry.intro}}</h2> -->
					</div>

				</div>
			</article>
		</div>

		{% elseif entry.alignCenter == '1' %}

		<!-- Align center -->

		<div style="background-color: #{{ entry.hexCode }};">
			<article class="row padding">
				<div class="large-12 medium-12 small-12 left">
					<div class="large-10 medium-10 small-12 columns center bump">
						<a class="transition" href="{{entry.url}}">
							<h1 class="entry-title">{{entry.Title}}</h1>
						</a>
					</div>

					{% for block in entry.projectBlocks %} {% if block.type == "fullImage" %} {% if block.frontpageCase == '1' %}
					<div class="columns left bump">
						{% for asset in block.image %}
						<div class="box">
							<img src="{{asset.url}}" />
						</div>
						{% endfor %}
					</div>
					{% endif %} {% endif %} {% if block.type == "gallerySingle" %} {% if block.frontpageCase == '1' %}
					<div class="columns left bump">
						<div class="owl-carousel gallery1 images">
							{% for asset in block.image %}
							<div class="item">
								<img src="{{ asset.url }}" alt="{{entry.title}}" />
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %} {% endif %} {% if block.type == "galleryMultiple" %} {% if block.frontpageCase == '1' %}
					<div class="columns left bump">
						<div class="owl-carousel gallery2 images">
							{% for asset in block.image %}
							<div class="item">
								<img src="{{ asset.url }}" alt="{{entry.title}}" />
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %} {% endif %} {% endfor %}

					<div class="columns bump">

						{% if entry.ingress %}
						<h2 class="large-10 medium-10 small-12 center entry-intro">«{{entry.ingress}}»</h2> {% else %} No soup for you! {% endif %}

						<!-- <p class="left share flat">Share
									<span class="right">
										<a href="#" class="light underline" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ entry.getUrl() }}','share','resizable,height=360,width=470'); return false;">Facebook</a>
										<a href="#" class="light underline" onClick="window.open('https://twitter.com/home?status={% if entry.Title %}{{ entry.Title|url_encode }}{% else %}{{ entry.title|url_encode }}{% endif %}%20{{ entry.getUrl() }}','share','resizable,height=360,width=470'); return false;">Tweet this</a>
										<a class="light underline" href="mailto:?Subject=Netflix Media Center: {{ entry.title }}&Body={% if entry.title %}{{ entry.title }}{% endif %}%20{{ entry.getUrl() }}">Share via email</a>
									</span>
								</p> -->
					</div>
			</article>
			</div>

			{% else %}

			<!-- Align Left -->
			<div style="background-color: #{{ entry.hexCode }};">
				<article class="row">
					<div class="column f-case">

						<!-- Text -->
						<div class="large-5 medium-5 small-12 right case-info reveal">
							<div class="columns">
								<a class="transition left" href="{{entry.url}}">
									<h1 class="entry-title bold left">{{entry.Title}}</h1>
								</a>
								{% set categories = entry.category %} {% if categories | length %}

								<!-- <ul class="inline">
												    {% for category in categories %}
											    		<li><p class="small caps pink">{{category.title}}</p></li>
												    {% endfor %}
										    	</ul> -->

								{% endif %}
								<h2 class="left entry-intro hide-for-small-only">{{entry.intro}}</h2>
							</div>
						</div>

						{% if entry.imgPaddingTop %}

						<!-- Image -->
						<div class="large-6 medium-6 small-12 left case-image">
							<div class="box">
								{% set desktopThumb = entry.desktopThumb.first() %} {% if desktopThumb %}
								<img src="{{ desktopThumb.url }}" object-fit: contain/> {% endif %}
							</div>
						</div>

						{% elseif entry.imgPaddingBoth %}

						<!-- Image -->
						<div class="large-6 medium-6 small-12 left case-image padding">
							<div class="box">
								{% set desktopThumb = entry.desktopThumb.first() %} {% if desktopThumb %}
								<img src="{{ desktopThumb.url }}" object-fit: contain/> {% endif %}
							</div>
						</div>

						{% else %}

						<!-- Image -->
						<div class="large-6 medium-6 small-12 left">
							<div class="box">
								{% set desktopThumb = entry.desktopThumb.first() %} {% if desktopThumb %}
								<img src="{{ desktopThumb.url }}" object-fit: contain/> {% endif %}
							</div>
						</div>

						{% endif %}
					</div>
				</article>
			</div>

			{% endif %} {% endif %} {% endfor %}

	</section>

</main>

<div class="main padding">
	<div class="row inquire reveal">
		<div class="columns left open-menu" style="cursor: pointer;">
			<a><h2 class="left flat">More work?</h2></a>
		</div>
	</div>
</div>

<section id="about" class="dark about">

	<div class="row">

		<div class="article-intro left">

			<!-- <div class="left columns small-padding">
				<h3 class="left bump">About the studio</h3>
			</div> -->

			<div class="large-12 medium-12 small-12 left columns">
				<h2 class="bold">Building digital design solutions for all screens.</h2>
			</div>

			<div class="large-12 medium-12 small-12 left columns">
				<div class="center">
					<h2 class="light">Found is a Oslo-based design studio, run by senior digital designer & art-director Erling Aarønæs. Being committed to quality design with a human-centered approach, Found aims to make sure that the right skills are brought to each project.</h2>
					<h2>Want to talk about a project?<br>
			    	<a class="underline" href="mailto:hello@foundoslo.no?subject=Business Inquiry">Email me</a> or <a class="underline" href="tel:+4798660788">give me a call</a>.</h2>
				</div>
				<!-- <a href="/about""><h3 class="left flat">Read more...</h3></a> -->
			</div>

		</div>

	</div>

</section>

{% endblock %}
