<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="cleartype" content="on" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta property="og:image" content="" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<meta property="og:site_name" content="Found." />
	<meta property="og:title" content="" />
	<meta property=”og:type” content=”website” />
	<meta property="og:description" content="Based on the idea that stunning visual design combined
	with forward-thinking experience should be available to everyone, Found aims to assist our clients
	in closing the gap between ambition and realization. Found is a digital design consultancy." />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/assets/css/foundation.css" type="text/css" />
	<link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.0.0-9/css/ionicons.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" type="text/css" />
	<link rel="shortcut icon" href="http://richpreview.com/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/assets/css/fontface.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />



	<!-- Typography -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

	<!-- Scripts -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
	<script src="http://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
	<script src="http://cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
	<script src="/assets/js/vendor/jquery.js"></script>
	<script src="/assets/js/vendor/modernizr.js"></script>
	<script src="/assets/js/foundation/foundation.js"></script>
	<script src="/assets/js/foundation/foundation.equalizer.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/header.js"></script>
	<script src="/assets/js/owl.carousel.js"></script>
	<script src="/assets/js/carousel.js"></script>
	<script src="/assets/js/jquery.easing.1.3.js"></script>

</head>

<body class="{{entry.slug}} {{entry.section.handle}}">

	<!-- {% set handle = entry.getSection().handle %} -->
	{% if entry.section.handle == 'projects' %}

	<header>
		<div class="row intro">
			<div class="columns">
				{# Set parameters for prev/next elements list #} {% set params = craft.entries.section('projects').order('postDate') %} {# Get the prev/next elements #} {% set prevEntry
				= entry.getPrev(params) %} {% set nextEntry = entry.getNext(params) %} {# And make sure to only output the links if the element exists #}
				<div class="large-1 medium-2 small-4 left">
					<p class="left"><a style="border-bottom: none;" class="transition" href="/">&#10005;</a></p>
				</div>
				<div class="large-1 medium-2 small-4 right">
					{% if nextEntry %}
					<p class="left"><a style="border-bottom: none;" class="transition" href="{{ nextEntry.url }}">&larr;</a></p>{% endif %} {% if prevEntry %}
					<p class="right"><a style="border-bottom: none;" class="transition" href="{{ prevEntry.url }}">&rarr;</a></p>{% endif %}
				</div>
			</div>
		</div>
	</header>

	{% else %}

	<header>
		<div class="row intro">
			<div class="columns">
				<div class="left">
					<p class="left logo">Work</p>
				</div>
				<div class="right">
					<p class="left open-menu">Info</p>
				</div>
			</div>
		</div>
	</header>

	{% endif %}

	<section class="menu__overview dark">
		<header>
			<div class="row" ''>
				<div class="columns">
					<div class="left">
						<p class="left logo">Work</p>
					</div>
					<div class="right">
						<p class="left open-menu">Info</p>
					</div>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="intro">
				<div class="large-7 medium-7 small-12 left">
					<div class="left">
						<div class="columns">
							<h2>I'm a digital art director & product designer based in Oslo.</h2>
							<p>At Netlife, I lead digital design projects together with a interdisciplinary team, focusing on creating immersive digital experiences for all screen. In my
								free time, I work with startups, brands, cultural projects and friends, telling their stories in a lot of different formats.</p>
							<p>Currently metroboomin' at Netlife</p>
							<a href="mailto:hello@foundoslo.no">hello@foundoslo</a></li>
						</div>
					</div>
				</div>
				<div class="large-4 medium-4 small-12 project-list right">
					<blockquote>—&nbsp;Select Projects</blockquote>
					{% for entry in craft.entries.section('projects') %}
					<p class="columns left flat" style="padding-left: 30px;">
						<a class="transition" href="{{entry.url}}">{{entry.title}}</a>
						<!-- {% set projectThumb = entry.projectThumb.first() %}
						{% if projectThumb %}
						<img src="{{ projectThumb.url }}"/>
						{% endif %} -->
					</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	{% block content %}
	<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
	<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
	{% endblock %}

</body>

</html>
