{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta property="og:image" content=""/>
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<meta name="description" content="Based on the idea that stunning visual design combined with forward-thinking experience should be available to everyone, Found aims to assist our clients in closing the gap between ambition and realization. Found is a digital design consultancy.">
	<meta property="og:site_name" content="Found.">
	<meta property="og:title" content="">
	<meta property=”og:type” content=”website” />
	<meta property="og:description" content="Based on the idea that stunning visual design combined with forward-thinking experience should be available to everyone, Found aims to assist our clients in closing the gap between ambition and realization. Found is a digital design consultancy.">
	<meta property="og:image" content="">

	<link rel="stylesheet" href="/assets/css/foundation.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.css">
	<link rel="stylesheet" href="/assets/css/animate.css">
	<link rel="stylesheet" href="/assets/css/fontface.css">
	<link href="/assets/css/pace.css" rel="stylesheet" />

	<!-- Type -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/assets/js/vendor/jquery.js"></script>
	<script src="/assets/js/vendor/fastclick.js"></script>		
	<script src="/assets/js/vendor/modernizr.js"></script>
    <script src="/assets/js/foundation/foundation.js"></script>
	<script src="/assets/js/foundation/foundation.equalizer.js"></script>	
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/header.js"></script>
	<script src="/assets/js/owl.carousel.js"></script>
    <script src="/assets/js/jquery.easing.1.3.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <script src="http://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>	

</head>

{% set handle = entry.getSection().handle %}

<body class="{{entry.slug}} {{entry.section.handle}}">

	<header class="nav-down">
		<div class="row">
			<div class="columns">

				{% if entry.section.handle == 'projects' %}

				<a class="transition left back" href="/">
					<div class="arrow-left"></div>
				</a>			
				
				{% else %}

				<!-- <a class="left transition" href="/">
					<p class="logo left">Found
						<span class="light right hide-for-small-only"><i>&nbsp; — a digital design consultancy</i></span>
					</p>
				</a> -->

				{% endif %}

				<div class="nav-menu right">

					<ul class="showMenu">
	
						{% if entry.slug == 'homepage' %}

							<!-- <li class="left active"><a class="transition" href="/"><p>Index</p></a></li> -->

						{% else %}

							<li class="left"><a class="transition" href="/"><p>Index</p></a></li>

						{% endif %}

						{% if entry.slug == 'about' %}

							<li class="left active"><a class="transition" href="/about"><p>About</p></a></li>

						{% else %}

							<li class="left"><a class="transition" href="/about"><p>About</p></a></li>

						{% endif %}

						<li class="left"><a><p class="right open-menu">Projects</p></a></li>

					</ul>

				</div>

			</div>
		</div>
	</header>

	<script>
	// Instantiate MixItUp:

	$(document).ready(function() {
		$('#container').mixItUp({
			animation: {
				duration: 400,
				effects: 'fade',
				easing: 'cubic-bezier(0.86, 0, 0.07, 1)',

			}
		});
		
	});
	</script>


	<div class="slide-menu">

		<ul class="slide-filter">
			<div class="row">
				<div class="column">
					<ul class="left">
						<li class="filter" data-filter="all"><p>All</p></li>

						{% set allCategories = craft.categories.group('discipline') %}

						{% for category in allCategories %}
							<li class="filter" data-filter=".{{category.slug}}"><p>{{category.title}}</p></li>
						{% endfor %}
					</ul>

					<div class="right">

						<ul class="showMenu">

							<!-- <li class="left"><a class="transition" href="/"><p>Index</p></a></li> -->
							<!-- <li class="left"><a class="transition" href="/about"><p>About</p></a></li> -->
							<li class="left active"><p class="right open-menu">Close</p></li>
						</ul>

					</div>

				</div>
			</div>
		</ul>
		
		<div class="row menu">
			<div class="large-12 medium-12 small-12 left">

				<div id="container" class="wrap">

					{% for entry in craft.entries.section('projects') %}

						{% set entryCategories = entry.category %}

						<article class="large-6 medium-6 small-12 column left mix {% if entryCategories | length %}{% for category in entryCategories %}{{category.slug}} {% endfor %}{% endif %}">
							<div class="left">
								<div class="box">
									<a class="transition" href="{{entry.url}}">
										
										{% set menuThumb = entry.menuThumb.first() %}
										{% if menuThumb %}
										    <img class="center" src="{{menuThumb.url}}" />
										{% endif %}

										{% if entry.comingSoon %}
										    <p class="coming small caps">In progress</p>										    
										{% endif %}

									</a>
								</div>

								{% if entry.comingSoon %}

									<a class="comment" href="#">
										<p class="comment">{{entry.title}}</p>
									</a>

									{% set categories = entry.category %}

									{% if categories | length %}

								    	<ul class="inline">
										    {% for category in categories %}
									    		<li><p class="small caps blue">{{category.title}}</p></li>
										    {% endfor %}
								    	</ul>

									{% endif %}

								{% else %}

									<a class="transition" href="{{entry.url}}">
										<p class="comment">{{entry.title}}</p>
									</a>

									{% set categories = entry.category %}

									{% if categories | length %}

								    	<ul class="inline">
										    {% for category in categories %}
									    		<li><p class="small caps blue">{{category.title}}</p></li>
										    {% endfor %}
								    	</ul>

									{% endif %}

								{% endif %}

							</div>
						</article>
					{% endfor %}
					
				</div>

			</div>
		</div>
	</div>

	{% block content %}
		<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
	{% endblock %}

	<!-- Scripts -->

</body>
</html>
