{% extends "_layout" %}

{% block content %}

<main class="home">

	<section class="intro" style="background-color: #ffffff;">
		
		<div class="row padding article-intro">
			<div class="large-8 medium-10 small-12 columns left">
		    	<h1>{{entry.intro}}</h1>
		    	<h2>{{entry.introBody}}</h2>
				<p class="left underline flat">
					<a href="#about">Studio profile</a>
				</p>
			</div>
		</div>

	</section>

	<section  id="start" class="in-progress" style="background-color: #ffffff;">

		<div class="small-padding">
		
			<div class="row">
				<div class="columns small-padding"> 
					<p class="small caps bump">In progress</p>
				</div>
			</div>

			<div class="row">
			{% for entry in craft.entries.section('projects') %}
				{% if entry.comingSoon %}
					<article class="large-6 medium-6 columns left">
						{% set menuThumb = entry.menuThumb.first() %}
						{% if menuThumb %}
						    <img class="bump" src="{{ menuThumb.url }}" />
						{% endif %}

				    	<h2 class="large-10 medium-10 small-12 flat">{{entry.intro}}</h2>
						<p class="light">{{entry.intro}}</p>
						<a class="small visit caps pink">Coming soon</a>
					</article>

				    {% endif %}

				{% endfor %}
			</div>
		
		</div>
	</section>

	<section id="start" class="left">

		{% for entry in craft.entries.section('projects') %}

			{% if entry.frontpageCase == '1' %}

				{% if entry.frontpageDark == '1' %}

					<article class="reveal">
						<div class="row">
							<a class="transition" href="{{entry.url}}">
								<div class="large-6 medium-12 small-12 left dark">
									<div class="left">
										<div class="box">
										
											{% set desktopThumb = entry.desktopThumb.first() %}
											{% if desktopThumb %}
											    <img class="show-for-medium-up" src="{{ desktopThumb.url }}"/>
											{% endif %}

											{% set mobileThumb = entry.mobileThumb.first() %}
											{% if mobileThumb %}
											    <img class="show-for-small-only" src="{{ mobileThumb.url }}" />
												<p class="hint-top show-for-small-only">{{mobileThumb.title}}</p>
											{% endif %}
										</div>
									</div>
									<div class="large-5 medium-5 small-12 left case-info hide-for-small-only" style="position: absolute;">
										<div class="left">
											<div class="columns">
												<p class="entry-title small caps">{{entry.Title}}</p>
												<h2 class="entry-intro hide-for-small-only">{{entry.intro}}</h2>
												<div class="discipline hide-for-small-only">

												{% set categories = entry.category %}

												{% if categories | length %}

												    {% for category in categories %}
												    	<ul>
												    		<li><p class="small caps">{{category.title}}</p></li>
												    	</ul>
												    {% endfor %}

												{% endif %}
												
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</article>

				{% else %}

				<article class="column reveal">
						<a class="transition" href="{{entry.url}}">
							<div class="large-12 medium-12 small-12 left">
								<div class="left">
									<div class="box">
									
										{% set desktopThumb = entry.desktopThumb.first() %}
										{% if desktopThumb %}
										    <img class="show-for-medium-up" src="{{ desktopThumb.url }}"/>
										{% endif %}

										{% set mobileThumb = entry.mobileThumb.first() %}
										{% if mobileThumb %}
										    <img class="show-for-small-only" src="{{ mobileThumb.url }}" />
											<p class="hint-top show-for-small-only">{{mobileThumb.title}}</p>
										{% endif %}
									</div>
								</div>
								<div class="large-5 medium-5 small-12 left case-info hide-for-small-only" style="position: absolute;">
									<div class="left">
										<div class="columns">
											<p class="entry-title small caps">{{entry.Title}}</p>
											<h2 class="entry-intro hide-for-small-only">{{entry.intro}}</h2>
											<div class="discipline hide-for-small-only">

											{% set categories = entry.category %}

											{% if categories | length %}

											    {% for category in categories %}
											    	<ul>
											    		<li><p class="small caps">{{category.title}}</p></li>
											    	</ul>
											    {% endfor %}

											{% endif %}
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</article>

				{% endif %}

			{% endif %}

		{% endfor %}
		
	</section>

</main>

<div class="row main">
	<article class="inquire columns reveal">
		<div class="left open-menu" style="cursor: pointer;">
			<h2 class="left underline flat">View all work.</h2>
		</div>
	</article>
</div>

<section id="about" class="dark about">

	<div class="row">
		
		<div class="article-intro left">
			
			<div class="left columns small-padding">
				<p class="small caps left">About the studio</p>
			</div>

			<div class="large-6 medium-9 small-12 left columns">
				<h1>Building digital design solutions for all screens.</h1>
			</div>

			<article class="large-8 medium-10 small-12 left columns">
				<div class="center">
			    	<h2 class="light">Found is a Oslo-based digital design studio, run by senior digital designer & art-director Erling Aarønæs. Being committed to quality design with a human-centered approach, Found aims to make sure that the right skills are brought to each project.</h2>
			    	<h2 class="light">Visit me at the studio located at <a class="blank" href="#"><b>Storgata 53</b></a> or <a href="mailto:hello@foundoslo.no?subject=Business Inquiry"><b>get in touch</b></a> to find out how I can help. You can also <a href="tel:+4798660788"><b>call me</b></a>.</h2>
				</div>
				<a href="/about""><h2 class="left underline flat">Read more +</h2></a>
			</article>
	    	
		</div>
    
	</div>
	
</section>	

{% endblock %}
