{% extends "_layout" %}
{% block content %}

{% if entry.dark == "1" %}
<main class="project dark" {% if entry.customBackground == "1" %} style="background-color: {{entry.backgroundColor}};"{% endif %}>
{% else %}
<main class="project" {% if entry.customBackground == "1" %} style="background-color: {{entry.backgroundColor}};"{% endif %}>
{% endif %}

  <div class="first">
    <div class="large-8 medium-10 small-12 center columns inner fade-up ">
      <div class="left">
        <h3><b>{{entry.title}}</b> {{entry.ingress}}</h3>
        <div class="clear">
          {% for category in entry.category %}
          <p class="left project-category ">{{ category.title }}</p>
          {% endfor %}
        </div>
        <div class="clear">
          {% if not entry.liveLink|length %}
          <p><a class="project-link left" href="{{ liveLink.title }}">View project</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="imageBlocks">
    {% for block in entry.projectBlocks %}
    {% if block.type == "fullImage" %} {% set asset = block.image.first() %}
    {% if asset %}
    <div class="row reveal">
      <div class="columns left">
        <figure>
          <img src="{{asset.url}}" />
        </figure>
      </div>
    </div>
    {% endif %} {% elseif block.type == "twoUp" %}
    <div class="row reveal">
      {% for image in block.images %}
      <div class="large-6 medium-6 small-12 columns left">
        <figure>
          <img src="{{image.url}}" />
        </figure>
      </div>
      {% endfor %}
    </div>

    {% elseif block.type == "threeUp" %}

    <div class="row reveal">
      {% for image in block.images %}
      <div class="large-4 medium-4 small-12 columns left">
        <figure>
          <img src="{{image.url}}" />
        </figure>
      </div>
      {% endfor %}
    </div>

    {% elseif block.type == "fourUp" %}

    <div class="row reveal">
      {% for image in block.images %}
      <div class="large-3 medium-3 small-12 columns left">
        <figure>
          <img src="{{image.url}}" />
        </figure>
      </div>
      {% endfor %}
    </div>

    {% elseif block.type == "twoUpClose" %}

    <div class="row reveal">
      <div class="columns left">
        {% for image in block.images %}
        <img class="large-6 medium-6 small-6 left" src="{{image.url}}" /> {% endfor %}
      </div>
    </div>

    {% elseif block.type == "fullBleed" %} {% for image in block.image %}
    <div>
      <figure class="left">
        <img src="{{image.url}}" />
      </figure>
    </div>
    {% endfor %} {% elseif block.type == "text" %}

    <div class="row reveal">
      <div class="columns left content__text">
        <div class="large-6 medium-9 small-12 center">
          <blockquote>{{block.textTitle}}</blockquote>
          <p>{{block.textBody}}</p>
        </div>
      </div>
    </div>

    {% elseif block.type == "quote" %}

    <div class="row reveal">
      <div class="columns left content__text">
        <div class="large-10 medium-10 small-12 center">
          <h2>«{{block.quoteText}}»</h2>
        </div>
      </div>
    </div>

    {% elseif block.type == "gallerySingle" %}

    <div class="row reveal">
      <div class="columns left">
        <div class="owl-carousel gallery1 images">
          {% for asset in block.image %}
          <div class="item">
            <img src="{{ asset.url }}" alt="{{entry.title}}" />
          </div>
          {% endfor %}
        </div>
        <div class="columns">
          <div class="slider-dots"></div>
        </div>
      </div>
    </div>

    {% elseif block.type == "galleryMultiple" %}

    <div class="columns reveal">
      <div class="columns left bump">
        <div class="owl-carousel gallery2 images">
          {% for asset in block.image %}
          <div class="item">
            <img src="{{ asset.url }}" alt="{{entry.title}}" />
          </div>
          {% endfor %}
        </div>
        <div class="columns">
          <div class="slider-dots"></div>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <section class="row reveal">
    <article class="large-6 medium-9 small-12 center">
      <div class="padding">
        <blockquote>Starting a project shouldn't have to be difficult.</blockquote>
        <p>If you enjoyed this project and want to discuss a project of your own, you can <a class="link--underlined" href="mailto:hello@foundoslo.no?subject=BusinessInquiry">send an email</a>          and we can work together.</p>
      </div>
    </article>
  </section>

  <section class="related">
    <div class="row padding">
      <div class="columns bump">
        <blockquote>Related projects</blockquote>
      </div>

      {% set category = craft.categories.first() %} {% if category %}
      {% set entries = craft.entries.relatedTo(category).limit(3) %}
      {% for entry in entries %}
      <article class="large-12 medium-12 small-12 column left">
        <div class="left">
          <figure class="box dark">
            <a class="transition" href="{{entry.url}}">
								{% set projectThumb = entry.menuThumb.first() %}
			          {% if projectThumb %}
							    <img class="center" src="{{projectThumb.url}}" />
								{% endif %}
							</a>
          </figure>
          <p><a class="transition" href="{{entry.url}}">{{entry.title}}</a></p>
        </div>
      </article>
      {% endfor %} {% endif %}
    </div>
  </section>
</main>
{% endblock %}
