{% extends "_layout" %}
{% block content %}

<main class="home right large-11 medium-11 small-12">

  <section id="work">

    <div class="first" style="background-color: white;">
      <div class="row inner fade-up">
        <div class="large-10 medium-10 columns">
          <h1>Senior digital art director & product designer, currently working at <a href="//www.netlife.com" class="netlife">Netlife</a>, an Oslo-based creative agency.</h1>
        </div>
      </div>
    </div>

    <div class="grid row padding">

    {% for entry in craft.entries.section('projects') %}
    {% if entry.alignment in ['left'] %}

    <div class="large-{{entry.colWidth}} medium-{{entry.colWidth}} small-12 left columns reveal">
    <!-- <div class="large-6 medium-6 small-12 left columns reveal"> -->
      <div class="bump">
        <div class="box">
          <a class="transition" href="{{entry.url}}">
					{% set projectThumb = entry.projectThumb.first() %}
					{% if projectThumb %}
					<img class="toggle" src="{{ projectThumb.url }}"/>
          <li data-image="{{projectThumb.url}}"></li>
					{% endif %}
					<p class="left flat">{{entry.Title}}</p>
					</a>
        </div>
      </div>

    </div>

    {% elseif entry.alignment in ['center'] %}

    <div class="columns reveal">

      <div class="large-{{entry.colWidth}} medium-{{entry.colWidth}} small-12 center bump">
      <!-- <div class="large-10 medium-10 small-12 center bump"> -->
        <div class="box">
          <a class="transition" href="{{entry.url}}">
					{% set projectThumb = entry.projectThumb.first() %}
					{% if projectThumb %}
					<img class="toggle" src="{{ projectThumb.url }}"/>
          <li data-image="{{projectThumb.url}}"></li>
					{% endif %}
					<p class="left">{{entry.Title}} &rarr;</p>
					</a>
        </div>
      </div>

    </div>

    {% elseif entry.alignment in ['right'] %}

    <div class="large-{{entry.colWidth}} medium-{{entry.colWidth}} small-12 columns right reveal">
    <!-- <div class="large-6 medium-6 small-12 columns right reveal"> -->

      <div class="bump">
        <div class="box">
          <a class="transition" href="{{entry.url}}">
					{% set projectThumb = entry.projectThumb.first() %}
					{% if projectThumb %}
					<img class="toggle" src="{{ projectThumb.url }}"/>
          <li data-image="{{projectThumb.url}}"></li>
					{% endif %}
					<p class="left">{{entry.Title}} &rarr;</p>
					</a>
        </div>
      </div>

    </div>
    {% endif %}
  {% endfor %}
  </div>
  </section>

  <section class="about reveal" style="background-color: #fff;">
    <div class="row">
      <div class="block block__content columns">
        <p><b>Commited to details</b></p>
        <p>I am digital designer & art-director, and I am the Oslo-based design studio Found, that builds digital design solutions for all screens. Being committed to quality design with a human-centered approach, I aim to make sure that the right skills are brought to each project.</p>
  			<p>Want to talk about a project? <a class="link" href="mailto:hello@foundoslo.no?subject=BusinessInquiry">Email me</a> or <a class="link" href="tel:+4798660788">give me a call</a>.</p>
      </div>
    </div>
  </section>

</main>

{% endblock %}
